

.calendar-month {
    background: #7e0101;
    background: linear-gradient(45deg, #7e0101 0%, #ff2d52 32%, #edee9c 100%);
    border: black 5px solid;
}

.day-grid {
    background-image: url("/images/august-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.day-grid button{
    background: #7e0101;
    background: linear-gradient(to right, #7e0101 0%, #ff2d52 42%, #edee9c 100%);
    
}

.day-grid button:hover {
    box-shadow: 0px 0px 23px 4px #ff2d52;
}

