

.calendar-month {
    background: #fbc6cc;
    background: linear-gradient(to right, #fbc6cc 0%, #ff7761 42%, #ec3527 100%);
    border: black 5px solid;
}

.day-grid {
    background-image: url("/images/february.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.day-grid button{
    background: #fbc6cc;
    background: linear-gradient(to right, #fbc6cc 0%, #ff7761 42%, #ec3527 100%);
    
}

.day-grid button:hover {
    box-shadow: 0px 0px 23px 4px #fbc6cc;
}
