

.calendar-month {
    background: #9dcdc0;
    background: linear-gradient(45deg, #9dcdc0 0%, #fb3640 32%, #ffcad4 100%);
    border: black 5px solid;
}

.day-grid {
    background-image: url("/images/june.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.day-grid button{
    background: #9dcdc0;
    background: linear-gradient(to right, #9dcdc0 0%, #fb3640 42%, #ffcad4 100%);
    
}

.day-grid button:hover {
    box-shadow: 0px 0px 23px 4px #9dcdc0;
}

